.wrapper{
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
    vertical-align: middle;
    background-color: #513830;
    font-family: 'Parisienne', cursive;
    align-items: center;
    text-align: center;
}

.text{
    margin: 0;
    font-size: 2em;
    cursor: pointer;
    color: #6FA1A0;
    transition: all ease-in-out .4s;
}

.text:hover{
    color:#F2EEE5 ;
}

.text:hover .fa{
    transform: rotate(-20deg) scale3d(1.5,1.5,1.5);
    color: #6FA1A0;
}

.fa{
    font-style: italic;
    transition: all .4s ease-in-out;
}
