.navbar{
    /* background-color: #513830; */
    background-color: transparent;
    font-family: 'Raleway', sans-serif;
    width: 100%;
    position: relative;
    transition: all ease-in-out .5s;
}

.brown{
    background-color: #513830;
    overflow: hidden;
}

.home{
    /* position: absolute!important; */
    position: fixed;
    z-index: 100;
}

img{
    height: 80px;
    width: auto;
}

.navbar a {
    margin: 0 0;
    padding: 0;
}

.navbar-nav .nav-item{
    text-transform: uppercase;
    font-size: 1.35em;
    margin-top: 15px;
    font-weight: 300;
}

.nav-item a {
    color: #513830;
    transition: all .4s ease-in-out;
}

.brown .nav-item a {
    color: #6FA1A0;
}
.brown .nav-item a:hover,
.nav-item a:hover{
    color: #F2EEE5;
}

.brown .nav-item a:active,
.nav-item a:active{
    color: #F2EEE5;
}

.nav-img{
    transition: all ease-in-out .4s;
}

.nav-img:hover{
    transform: rotate(-20deg) scale3d(1.5,1.5,1.5);
}

.home.navbar{
    overflow: unset;
}

.brown.navbar{
    overflow: hidden;
}

.navbar{
    overflow: hidden;
}

.home.brown.navbar img{
    height: 60px;
    width: auto;
}

.home .navbar-nav .nav-item{
    font-weight: 600;
}

.home.brown .navbar-nav .nav-item{
    font-weight: 300;
}

@media(min-width: 768px){
    .navbar-nav{
        margin-right: 10px!important;
        margin-left: auto!important;
    }
    
    .nav-img{
        margin-left: 45px;
    }

    .navbar-nav .nav-item{
        margin-right: 45px;
        margin-top: 0px;
    }
}
