.content{
    width: 100%;
    min-height: 100vh;
    background: radial-gradient(rgba(35, 20, 16, 0.82), rgba(35, 20, 16, .97)), 
        url(../../../assets/images/belgrade/bgd5.jpg) no-repeat center 15%/cover;
    background-attachment: fixed;
    display: block;
    padding-top: 15px;
    padding-bottom: 15px;
    -webkit-box-shadow: inset -1px 7px 20px -2px rgba(0,0,0,0.75);
    -moz-box-shadow: inset -1px 7px 20px -2px rgba(0,0,0,0.75);
    box-shadow: inset -1px 7px 20px -2px rgba(0,0,0,0.75);
}

.naslov{
    font-family: 'Parisienne', cursive;
    width: 100%;
    text-align: center;
    margin-top: 50px;
    color:#6FA1A0 ;
    font-size: 3.5em;
}


.w-70{
    display: block;
    width: 90%;
    margin: 0 auto;
    margin-bottom: 1%;
}

.partneri{
    /* background-color: red; */
    width: 100%;
    min-height: 50vh;
    margin-bottom: 25px;
    display: block;
}

.partner{
    width: 90%;
    height: 60vh;
    /* background-color: royalblue; */
    overflow: hidden;
    transition: all .4s ease-in-out;
    align-items: center;
    display: flex;
    justify-content: center;
}

.partner img{
    width: 100%;
    height: auto;
}

.partner:hover{
    transform: scale3d(1.5,1.5,1.5);
}

@media(min-width: 768px){
    .content{
        /* display: flex;
        vertical-align: middle;
        align-items: center;
        flex-direction: row;
        justify-content: space-evenly;
        padding-top: 0; */
    }



    .partneri{
        display: flex;
        vertical-align: middle;
        align-items: center;
        flex-direction: row;
        justify-content: space-evenly;
        padding-top: 0;
    }

    .partner{
        width: 18%;
        height: 70%;
    }

    .citat{
        width: 30%;
    }

    .w-70{
        width: 30%;
    }
}

